.home{
    padding-bottom: 100px;
}

/* CONTAINER 1 */
.container1{
    /* background-color: rgb(219, 215, 250); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1 .content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "content1 content2";

    height: 500px;
    align-items: center;
    max-width: 1000px;
    padding: 20px;

    color: #333;
}
.container1 .details{
    grid-area: "content1";
    /* background-color: rgb(215, 250, 215); */
    text-align: left;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}.container1 .details h1{
    font-size: 40px;
}.container1 .details p{
    font-size: 23px;
}.container1 .details button{
    color: white;
    margin: auto auto auto 0;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;

    cursor: pointer;

    padding: 10px 20px;

    border-radius: 5px;
    border-style: none;

    background-color: #72B5C5;
    transition: 0.2s;
}.container1 .details button:hover{
    background-color: #4680A8;
}

.container1 .image{
    grid-area: "content2";
    /* background-color: #72b5c566; */
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.container1 .image img{
    width: 360px;
    margin-bottom: 20px;
}
/* /CONTAINER 1 */

/* CONTAINER 2 */
.container2{
    background-color: #f2f7f8;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #333;
    height: auto;
}

.container2 .content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "content1"
    "content2";

    height: auto;
    align-items: center;
    max-width: 1000px;
    padding: 20px;
    padding-bottom: 0;
}
.container2 .details{
    grid-area: "content1";
    /* background-color: rgb(215, 250, 215); */
    padding: 20px;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    gap: 25px;

    text-align: center;
}.container2 .details p{
    max-width: 900px;
    font-size: 20px;
}.container2 .details button{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    
    padding: 10px 30px;
    margin: auto;

    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    
    color: white;
    background-color: rgb(114, 181, 197);
    transition: 0.2s;
}   
.container2 .details button:hover{
background-color: #4680A8;
}
.container2 .image{
    margin-top: 30px;

    grid-area: "content2";
    border-radius: 29px 28px 0 0;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 .image img{
    width: 100%;
}
.container2 .image .url{
    position: absolute;
    top: 23px;
    left: 255px;
}
/* /CONTAINER 2 */

/* CONTAINER 3 */
.container3{
    /* background-color: rgb(215, 250, 249); */
    display: flex;
    align-items: center;
    justify-content: center;

    color: #333;
    z-index: 1;
}
.container3 .content{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:"content1 content2";

    height: 500px;
    align-items: center;
    max-width: 1000px;
    padding: 20px;
}
.container3 .details{
    grid-area: "content1";
    /* background-color: rgb(215, 250, 215); */
    text-align: left;
    padding: 20px;
}.container3 .details h2{
    font-size: 30px;
}.container3 .details p{
    font-size: 20px;
}.container3 .details ul{
    padding-left: 20px;
    margin: 0;
}.container3 .details ul li{
    font-size: 20px;
    margin-bottom: 10px;
}
.container3 .image{
    grid-area: "content2";
    /* background-color: #72b5c566; */
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}.container3 .image img{
    width: 500px;
}
/* /CONTAINER 3 */


@media(max-width:  1023px){

    .container1{
        /* background-color: rgb(219, 215, 250); */
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .container1 .content{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas: "content1"
        "content2";
    
        align-items: center;
        max-width: 1000px;
        padding: 20px;
    
        color: #333;
    }
    .container1 .details{
        grid-area: "content1";
        text-align: center;
        margin: 0 5%;
    }.container1 .details button{
        margin: auto;
    }
    .container1 .image{
        display: none;
    }

    
}

@media(max-width: 975px){
    .container2 .details button{
        margin-bottom: 40px;
    }
    .container2 .image{
        display: none;
    }
}

@media(max-width:  958px){
    .container3{
        /* background-color: rgb(215, 250, 249); */
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: #333;
    }
    .container3 .content{
        grid-template-columns: 2fr;
        grid-template-areas:"content2"
        "content1";

        padding: 0 40px;
    }
    .container3 .details{
        grid-area: "content1";

        padding: 20px;
    }.container3 .details h2{
        font-size: 40px;
    }
    .container3 .image{
        display: none;
    }
}

@media(max-width: 628px){
    .container1 .details{
        grid-area: "content1";
        padding: 20px;
        gap: 20px;
    }.container1 .details h1{
        font-size: 32px;
    }.container1 .details p{
        font-size: 20px;
    }
}
@media(max-width: 453px){
    .container1 .content{
        height: auto;
    }
}
